@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: none !important;
  color: black;
}
body {
  background: linear-gradient(135deg, #0f172a, #1e1b4b, #4c1d95);
  color: white;
}
/* Background principal du site */
.main-bg {
  background: linear-gradient(
    135deg,
    #0f172a 0%,   /* bleu très sombre */
    #1e1b4b 50%,  /* bleu nuit */
    #4c1d95 100%  /* violet foncé */
  );
  min-height: 100vh;
}